@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    font-family: 'DM Sans', sans-serif;
}

/*Section home*/

section.home {
    width: 100%;
    height: 100vh;
    background-color: #425563;
    background-size: cover;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo img {
    width: 100%;
    display: block;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 2px white;
    border-radius: 6px;
}

nav li {
    width: 60%;
    font-family: 'DM Sans', sans-serif;
    color: #607E80;

}

nav a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.homepage {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.homepage p {
    font-size: 50px;
    color: white;
    margin: 50px 0 20px 20px;
}

.homepage a {
    display: inline-block;
    color: #564F4F;
    font-size: 20px;
    border: 2px solid #564F4F;
    background-color: #C4C4C4;
    padding: 6px 20px;
    text-decoration: none;
    margin-top: 90px;
    transition: all 0.4s;
    border-radius: 10px;
    margin-left: 50px;

}

.homepage a:hover {
    background-color: white;
    color: black;
}

.homepage .text .promotion .image {
    align-self: flex-start
}



/* Section Explore*/

section.explore {
    width: 100%;
    height: 100vh;
    background-color: #E6E4E6;
    padding: 120px 0;
}

section.explore h2,
h3 {
    text-align: center;
    color: #607E80;
}

section.explore h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

section.explore h3 {
    font-size: 30px;
    margin-top: 30px;
}

section.explore p {
    color: #607E80;
    font-size: 20px;
    margin-top: 20px;
}

section.explore .products {
    width: 100%;
    height: 40vh;
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

section.explore .product {
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
}

section.explore .product .details {

    height: 100%;
    padding: 0 20px;
    background-color: rgb(255, 255, 255, 0.3);
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
    position: absolute;
    top: -500;


}

.product:hover .details {
    top: 0px;
}

section.explore .product .details h3 {
    color: #564F4F;
    text-align: center;
    font-size: 25px;
}

section.explore .product .details p {
    color: #564F4F;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;

}



/*PRODUKTET*/
section.explore .product.one {
    background-image: url(../../Assets/images/1product.png);
    background-repeat: no-repeat;
    background-size: cover;


}

section.explore .product.two {
    background-image: url(../../Assets/images/2product.png);
    background-repeat: no-repeat;
    background-size: cover;

}

section.explore .product.three {
    background-image: url(../../Assets/images/3product.png);
    background-repeat: no-repeat;
    background-size: cover;

}

/*PRODUKTET END*/

.explore a {
    display: block;
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    border-radius: 5px;
    margin-bottom: 30px;
}

.explore a:hover {
    transform: scale(1.3);
    color: rgb(138, 132, 132);

}

/*section about us*/
section.about_us {
    width: 100%;
    height: 100vh;
    background-color: white;

}

section.about_us .produktet {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;

}

.about_us .details h2 {

    text-align: center;
    margin: 50px;
    color: #607E80;
    font-size: 60px;

}

.about_us .details h3 {
    margin: 50px;
}

.produktet p {

    font-family: 'DM Sans', sans-serif;
    color: #607E80;
}


/* contact us*/
section.contact {
    width: 100%;
    height: 100vh;
    background-image: url(../../Assets/images/contactlanding.jpeg);
}

section.contact .contact-info-form {
    width: 60%;
    margin-bottom: 30px;

}

.contact .header {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    color: #607E80;

}

section.contact input,
section.contact textarea {
    width: 300px;
    box-shadow: none;
    display: block;
    padding: 10px 0px;
    color: black;
    background-color: transparent;
    margin-bottom: 10px;
    border: solid 1px silver;
    background-color: rgb(138, 132, 132, 0.3);
    border-radius: 3px;
}

section.contact textarea {
    width: 300px;
    height: 150px;
    border: solid 1px silver;
    background-color: rgb(138, 132, 132, 0.3);
    border-radius: 3px;
    padding: 20px;
}

section.contact input {
    padding: 20px;
}

section.contact button {
    display: inline-block;
    color: black;
    font-size: 10px;
    border: 2px solid white;
    padding: 6px 20px;
    text-decoration: none;
    transition: all 0.4s;
    text-transform: uppercase;
    background-color: silver;
    border-radius: 10px;
}

section.contact button:hover {
    color: black;
    background-color: blanchedalmond;
}

.info-boxes {
    display: flex;
    margin-top: 150px;
}

.info-boxes .info-box {
    width: 50%;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    color: #607E80;
}

.social-media {
    text-align: center;
    margin-top: -29px;
}

.social-media .icons {
    width: 40px;

}

/* Tablet */
@media screen and (min-width: 600px) and (orientation: portrait) {
    .info-boxes {
        display: block;
        margin-top: 50px;
    }

    .info-boxes .info-box {
        width: 100%;
    }

    section.contact input,
    section.contact textarea {
        width: 100%;
    }

    /* Mobile */
    @media screen and (max-width: 600px) and (orientation: portrait) {
        .social-media {
            margin-top: 30px;
        }

        /* Mobile */
        @media screen and (max-width: 600px) and (orientation: portrait) {
            .social-media {
                margin-top: 30px;
            }

            section.contact {
                display: block;
                width: 100%;
                height: 100vh;
                background-image: url(../../Assets/images/contactlanding.jpeg);
            }

            .contact .header {
                text-align: center;
            }

            .info-boxes {
                display: block;
                margin-top: 0px;