@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    font-family: 'DM Sans', sans-serif;
}

/*Section home*/

section.home {
    width: 100%;
    height: 100vh;
    background-color: #425563;
    background-size: cover;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo img {
    width: 100%;
    display: block;
}

nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav li {
    width: 60%;
}

nav a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.homepage {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.homepage p {
    font-size: 30px;
    color: white;
    margin: 120px 0 50px 20px;
}

.homepage a {
    display: inline-block;
    color: #564F4F;
    font-size: 20px;
    border: 2px solid #564F4F;
    background-color: #C4C4C4;
    padding: 6px 20px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.4s;
    border-radius: 10px;
    margin-left: 50px;

}

.homepage a:hover {
    background-color: white;
    color: black;
}

.homepage .text .promotion .image {
    align-self: center;
}

/* Section Explore*/

section.explore {
    width: 100%;
    height: 100vh;
    background-color: #E6E4E6;
    padding: 120px 0;
}

section.explore h2,
h3 {
    text-align: center;
    color: #607E80;
}

section.explore h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

section.explore h3 {
    font-size: 30px;
    margin-top: 30px;
}

section.explore p {
    color: #607E80;
    font-size: 20px;
    margin-top: 20px;
}

section.explore .products {
    width: 100%;
    height: 40vh;
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

section.explore .product {
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
}

section.explore .product .details {

    height: 100%;
    padding: 0 20px;
    background-color: rgb(255, 255, 255, 0.3);
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s;
    position: absolute;
    top: -500;


}

.product:hover .details {
    top: 0px;
}

section.explore .product .details h3 {
    color: #564F4F;
    text-align: center;
    font-size: 25px;
}

section.explore .product .details p {
    color: #564F4F;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;

}




section.explore .product.one {
    background-image: url(../../Assets/images/1product.png);
    background-repeat: no-repeat;
    background-size: cover;


}

section.explore .product.two {
    background-image: url(../../Assets/images/2product.png);
    background-repeat: no-repeat;
    background-size: cover;

}

section.explore .product.three {
    background-image: url(../../Assets/images/3product.png);
    background-repeat: no-repeat;
    background-size: cover;

}



.explore a {
    display: block;
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
    border-radius: 5px;
    margin-bottom: 30px;
}

.explore a:hover {
    transform: scale(1.3);
    color: rgb(138, 132, 132);

}

/*section about us*/
section.about_us {
    width: 100%;
    height: 100vh;
    background-color: white;

}

section.about_us .produktet {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.about_us .details h2 {

    text-align: center;
    margin: 50px;
    color: #607E80;
    font-size: 50px;

}

.about_us .details h3 {
    margin: 50px;
}

.produktet p {

    font-family: 'DM Sans', sans-serif;
    color: #607E80;
}

/*Section Contact*/
section.contact {
    width: 100%;
    height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
}

section.contact .contact_info_details {
    width: 60%;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.wrapper .AQ {
    font-family: 'DM Sans', sans-serif;
    color: #607E80;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto;
}

.contact_info_details input {
    width: 200px;
    box-shadow: none;
    border: 1px solid black;
    padding: 10px 0px;
    color: black;
    margin-bottom: 20px;
    background-color: silver;
    border-radius: 6px;

}

.contact_info_details textarea {
    width: 400px;
    height: 100px;
    background-color: silver;
    border-radius: 6px;


}

.contact_info_details button {
    display: flex;
    color: black;
    border: 2px solid black;
    font-size: 10px;
    text-decoration: none;
    background-color: silver;
    border-radius: 6px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
}